@page "/contact"

<SectionContent SectionName="page-title">Contact</SectionContent>

<PageTitle>Contact</PageTitle>

<!-------Contact------->
<section class="locatie">
     
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2849.9500060363443!2d26.111828275160068!3d44.413671602916935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1fefdad25d191%3A0x70fd5183ae1ab2cd!2sTitu%20Maiorescu%20University!5e0!3m2!1sen!2sro!4v1716911292446!5m2!1sen!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</section>

<section class="contact">

    <div class="row">
        <div class="contact-col">
            <div>
                <i class="fa fa-home"></i>
                <span>
                    <h5>Strada Dâmbovnicului Tineretului</h5>
                    <p>Localitate: București</p>
                </span>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <span>
                    <h5>+40 0712345678</h5>
                    <p>De Luni până vineri între orele 10:00 - 16:00.</p>
                </span>
                <i class="fa fa-phone"></i>
                <span>
                    <h5>lulutech@gmail.com</h5>
                    <p>Trimiteține email pentru mai multe detalii.</p>
                </span>
            </div>
        </div>
        <div class="contact-col">
            <form action="form-handler.php" method="post">
                <input type="text" name="Nume" placeholder="Adaugati Numele" required>
                <input type="email" name="Email" placeholder="Adresa de email" required>
                <input type="text" name="Subiect" placeholder="Subiect" required>
                <textarea rows="8" name="Mesaj" placeholder="Mesaj" required></textarea>
                <button type="submit" class="hero-btn red-btn">Trimite Mesajul</button>
            </form>
        </div>
    </div>

</section>