@page "/desprenoi"

<SectionContent SectionName="page-title">Despre Noi</SectionContent>

<PageTitle>Despre Noi</PageTitle>

<!-------Despre noi continut------->
<section class="about">

    <div class="row">
        <div class="about-col">
            <h1>Cine suntem noi?</h1>
            <p>Suntem o echipă de pasionați de calculatoare. Oferim servicii de mentenanță sigure și rapide la un preț ușor accesibil. Drumul nostru a început în 2024, la facultatea de informatică, în cadrul universități UTM, prin intermediul lucrări de licență care ne-a inspirat să deschidem aceste servicii.</p>
            <a href="/servicii" class="hero-btn red-btn">Apasați aici pentru lista noastră de servicii.</a>
        </div>
        <div class="about-col">
            <img src="image/cine.png">
        </div>
    </div>
    <div class="da"></div>

</section>