@page "/keycaps"

<SectionContent SectionName="page-title">Keycaps</SectionContent>

<PageTitle>Keycaps</PageTitle>
<section class="print-content">
    <div class="row">
        <div class="print-left">

            <h2>Imprimanta noastră 3D</h2>
            <img src="image/imprimantaa.jpg">
            <p>Imprimanta folosită pentru a printa butoane de tastaturi se numeste Tevo Tornado. Aceasta folosește plastic de tip PLA (Acid polilactic) și printează rapid fără defecte pe modelul 3D.</p>
            <h2>Exemplu tastaturi cu butoane customizate</h2>
            <img src="image/Exemplu.jpg">
            <img src="image/exemplu2.jpg">
            <h2>Descriere pentru tipurile de switch</h2>
            <p>Liniar- Switch-urile liniare sunt de obicei netede și oferă o acționare consistentă fără feedback tactil. Nu sunt zgomotoase și acționarea sau înregistrarea apăsării unei taste are loc atunci când aceasta atinge baza și, deoarece nu există denivelări între ele, comutatoarele liniare alunecă destul de ușor. Acest tip de switch este recomandat pentru jucători/gameri.</p>
            <p>Tactil- Switch-urile tactile au o construcție similară cu cea liniară, dar includ o umflătură la jumătatea cursei de coborâre a tastei. Această umflătură reprezintă punctul de acționare, ceea ce înseamnă că o apăsare a tastei este înregistrată înainte ca aceasta să ajungă complet la bază. Acest lucru permite o experiență de tastare mai rapidă, deoarece tasta nu trebuie să se deplaseze în jos până la capăt pentru a se acționa. Nu sunt zgomotoase, devenind astfel alegerea preferată a celor care tastează mult.</p>
            <p>Clicky - Switch-urile clicky urmează același concept ca și cele tactile, ceea ce înseamnă că sunt accidentate, dar, în același timp, sunt mai zgomotoase prin design. Aceste switch-uri oferă o umflătură împreună cu un feedback audio suplimentar, care este destul de satisfăcător, aproape ca o mașină de scris veche. Cu toate acestea, acest lucru poate fi enervant pentru cei din jur, în special într-un mediu de birou.</p>
            <h2>Vă putem schimba switch-ul</h2>
            <img src="image/switchedit.png"
            <p>Folosind o clemă specializată pentru decuplarea switch-urilor, vă putem schimba switch-ul cu cel dorit de dumneavoastră la prețul de 5 lei pe buton</p>
            <h2>Contactaține aici</h2>
            <p>Contactaține la adresa de email- lulutech@gmail.com</p>
            <p>În mesaj trebuie să conțină, modelul tastaturii, culoarea de switch dorită, tasta, și o imagine cu modelul dorit pe tastă sau o descriere.</p>
            <p>Pentru mai multe întrebări ne puteți trimite mesaj aici sau in email.</p>

            <div class="contact-col">
                <form action="form-handler.php" method="post">
                    <input type="text" name="Nume" placeholder="Adaugati Numele" required>
                    <input type="email" name="Email" placeholder="Adresa de email" required>
                    <input type="text" name="Subiect" placeholder="Subiect" required>
                    <textarea rows="8" name="Mesaj" placeholder="Mesaj" required></textarea>
                    <button type="submit" class="hero-btn red-btn">Trimite Mesajul</button>
                </form>
            </div>
        </div>
        <div class="print-right">
            <h3>Printăm keycapuri pentru switch-urile</h3>
            <div class="tipul">
                <span>Tip de switch</span>
                <span>Culori</span>

            </div>
            <div>
                <span>Liniar</span>
                <span>Roșu/Negru</span>

            </div>
            <div>
                <span>Tactil</span>
                <span>Maro/Alb</span>

            </div>
            <div>
                <span>Clicky</span>
                <span>Albastru/Verde</span>

            </div>
            <div>
                <img src="image/switchuri.png">
            </div>
        </div>
    </div>
</section>