@page "/servicii"
@using Calculatoare.Shared.Order
@inject ILocalStorageService LocalStorage

<SectionContent SectionName="page-title">Servicii</SectionContent>

<PageTitle>Servicii</PageTitle>

<!-------JavaScript schimbare imagini servicii------->

<script>
    function hover(element) {
        element.setAttribute('src', 'image/unitate2.png');
    }
    function unhover(element) {
        element.setAttribute('src', 'image/unitate.png');
    }
    function hover1(element) {
        element.setAttribute('src', 'image/laptop1.jpg');
    }
    function unhover1(element) {
        element.setAttribute('src', 'image/laptop.png');
    }
    function hover2(element) {
        element.setAttribute('src', 'image/pasta1.jpg');
    }
    function unhover2(element) {
        element.setAttribute('src', 'image/pasta.png');
    }
    function hover3(element) {
        element.setAttribute('src', 'image/pastaplaca1.png');
    }
    function unhover3(element) {
        element.setAttribute('src', 'image/pastaplaca.jpg');
    }
    function hover4(element) {
        element.setAttribute('src', 'image/inlocuire1.jpg');
    }
    function unhover4(element) {
        element.setAttribute('src', 'image/inlocuire.png');
    }
    function hover5(element) {
        element.setAttribute('src', 'image/reconditionare.jpg');
    }
    function unhover5(element) {
        element.setAttribute('src', 'image/reconditionare1.jpg');
    }
    function hover6(element) {
        element.setAttribute('src', 'image/driver.png');
    }
    function unhover6(element) {
        element.setAttribute('src', 'image/driver1.png');
    }
    function hover7(element) {
        element.setAttribute('src', 'image/diagnostic.jpg');
    }
    function unhover7(element) {
        element.setAttribute('src', 'image/diagnostic1.png');
    }
    function hover8(element) {
        element.setAttribute('src', 'image/recuperare.jpg');
    }
    function unhover8(element) {
        element.setAttribute('src', 'image/recuperare1.jpg');
    }
    function hover9(element) {
        element.setAttribute('src', 'image/clonare.png');
    }
    function unhover9(element) {
        element.setAttribute('src', 'image/clonare1.png');
    }
    function hover10(element) {
        element.setAttribute('src', 'image/taxa.png');
    }
    function unhover10(element) {
        element.setAttribute('src', 'image/taxa1.jpeg');
    }
    function hover11(element) {
        element.setAttribute('src', 'image/deparolare1.png');
    }
    function unhover11(element) {
        element.setAttribute('src', 'image/deparolare.png');
    }
    function hover12(element) {
        element.setAttribute('src', 'image/BIOS1.jpg');
    }
    function unhover12(element) {
        element.setAttribute('src', 'image/BIOS.png');
    }
    function hover13(element) {
        element.setAttribute('src', 'image/IT2.jpg');
    }
    function unhover13(element) {
        element.setAttribute('src', 'image/IT.png');
    }
</script>

<!-------Despre noi continut------->
<section class="border">

    <!-------Randul 1------->

    <div class="row line">
        <div class="border-col">
            <div class="cutie">
                <img src="image/unitate.png " onmouseover="hover(this);" onmouseout="unhover(this);">
            </div>
            <h4>Curățare generală unitate <br>  <br> </h4>
            <h3>100 RON</h3>
            <button class="hero-btn hero-btnn red-btn" @onclick=@(async () => await AddItemToCart(new Item{
                    Name = "Curățare generală unitate",
                    Price = 100,
                    Quantity = 1,
                    PictureURL = "image/unitate.png"
            }))>Adaugă în coș.</button>
        </div>
        <hr width="1" size="160" style="0 auto" />
        <div class="border-col">
            <div class="cutie">
                <img src="image/laptop.png" onmouseover="hover1(this);" onmouseout="unhover1(this);">
            </div>
            <h4>Curățare generală laptop <br> <br> </h4>
            <h3>100 RON</h3>
            <button class="hero-btn hero-btnn red-btn" @onclick=@(async () => await AddItemToCart(new Item{
                    Name = "Curățare generală laptop",
                    Price = 100,
                    Quantity = 1,
                    PictureURL = "image/laptop.png"
            }))>
                Adaugă în coș.
            </button>
        </div>
        <hr width="1" size="160" style="0 auto" />
        <div class="border-col">
            <div class="cutie">
                <img src="image/pasta.png" onmouseover="hover2(this);" onmouseout="unhover2(this);">
            </div>
            <h4>Aplicare pastă termoconductoare pentru procesor</h4>
            <h3>50 RON</h3>
            <button class="hero-btn hero-btnn red-btn" @onclick=@(async () => await AddItemToCart(new Item{
                    Name = "Aplicare pastă termoconductoare pentru procesor",
                    Price = 50,
                    Quantity = 1,
                    PictureURL = "image/pasta.png"
                    }))>
                >Adaugă în coș.
            </button>
        </div>
        <hr width="1" size="160" style="0 auto" />
        <div class="border-col">
            <div class="cutie">
                <img src="image/pastaplaca.jpg" onmouseover="hover3(this);" onmouseout="unhover3(this);">
            </div>
            <h4>Aplicare pastă termoconductoare pentru placa video</h4>
            <h3>50 RON</h3>
            <button class="hero-btn hero-btnn red-btn" @onclick=@(async () => await AddItemToCart(new Item{
                    Name = "Aplicare pastă termoconductoare pentru placa video",
                    Price = 50,
                    Quantity = 1,
                    PictureURL = "image/pastaplaca.jpg"
                    }))>
                >Adaugă în coș.
            </button>
        </div>
        <hr width="1" size="160" style="0 auto" />
        <div class="border-col">
            <div class="cutie">
                <img src="image/inlocuire.png" onmouseover="hover4(this);" onmouseout="unhover4(this);">
            </div>
            <h4>Înlocuire carcasă PC <br> <br> <br> </h4>
            <h3>198 RON</h3>
            <button class="hero-btn hero-btnn red-btn" @onclick=@(async () => await AddItemToCart(new Item{
                    Name = "Înlocuire carcasă PC",
                    Price = 198,
                    Quantity = 1,
                    PictureURL = "image/inlocuire.png"
                    }))>
                >Adaugă în coș.
            </button>
        </div>
    </div>
    <div class="da"></div>

    <!-------Randul 2------->

    <div class="row line">
        <div class="border-col">
            <div class="cutie">
                <img src="image/reconditionare1.jpg" onmouseover="hover5(this);" onmouseout="unhover5(this);">
            </div>
            <h4>Recondiționare carcasă și elemente deteriorate de laptop</h4>
            <h3>198 RON</h3>
            <button class="hero-btn hero-btnn red-btn" @onclick=@(async () => await AddItemToCart(new Item{
                    Name = "Recondiționare carcasă și elemente deteriorate de laptop",
                    Price = 198,
                    Quantity = 1,
                    PictureURL = "image/reconditionare1.jpg"
                    }))>
                >Adaugă în coș.
            </button>
        </div>
        <hr width="1" size="160" style="0 auto" />
        <div class="border-col">
            <div class="cutie">
                <img src="image/driver1.png" onmouseover="hover6(this);" onmouseout="unhover6(this);">
            </div>
            <h4>Configurare drivere si programe de bază laptop/desktop</h4>
            <h3>99 RON</h3>
            <button class="hero-btn hero-btnn red-btn" @onclick=@(async () => await AddItemToCart(new Item{
                    Name = "Configurare drivere si programe de bază laptop/desktop",
                    Price = 99,
                    Quantity = 1,
                    PictureURL = "image/driver1.png"
                    }))>
                >Adaugă în coș.
            </button>
        </div>
        <hr width="1" size="160" style="0 auto" />
        <div class="border-col">
            <div class="cutie">
                <img src="image/diagnostic1.png" onmouseover="hover7(this);" onmouseout="unhover7(this);">
            </div>
            <h4>Diagnosticare sisteme de calcul<br> <br> </h4>
            <h3>98 RON</h3>
            <button class="hero-btn hero-btnn red-btn" @onclick=@(async () => await AddItemToCart(new Item{
                    Name = "Diagnosticare sisteme de calcul",
                    Price = 98,
                    Quantity = 1,
                    PictureURL = "image/diagnostic1.png"
                    }))>
                >Adaugă în coș.
            </button>
        </div>
        <hr width="1" size="160" style="0 auto" />
        <div class="border-col">
            <div class="cutie">
                <img src="image/recuperare1.jpg" onmouseover="hover8(this);" onmouseout="unhover8(this);">
            </div>
            <h4>Recuperare date pentru dispozitive cu defecte logice</h4>
            <h3>198 RON</h3>
            <button class="hero-btn hero-btnn red-btn" @onclick=@(async () => await AddItemToCart(new Item{
                    Name = "Recuperare date pentru dispozitive cu defecte logice",
                    Price = 198,
                    Quantity = 1,
                    PictureURL = "image/recuperare1.jpg"
                    }))>
                >Adaugă în coș.
            </button>
        </div>
        <hr width="1" size="160" style="0 auto" />
        <div class="border-col">
            <div class="cutie">
                <img src="image/clonare1.png" onmouseover="hover9(this);" onmouseout="unhover9(this);">
            </div>
            <h4>Clonare SSD/HDD<br> <br> <br> </h4>
            <h3>99 RON</h3>
            <button class="hero-btn hero-btnn red-btn" @onclick=@(async () => await AddItemToCart(new Item{
                    Name = "Clonare SSD/HDD",
                    Price = 99,
                    Quantity = 1,
                    PictureURL = "image/clonare1.png"
                    }))>
                >Adaugă în coș.
            </button>
        </div>
    </div>
    <div class="da"></div>

    <!-------Randul 3------->

    <div class="row line">
        <div class="border-col">
            <div class="cutie">
                <img src="image/taxa1.jpeg" onmouseover="hover10(this);" onmouseout="unhover10(this);">
            </div>
            <h4>Taxă de urgentare</h4>
            <h3>50 RON</h3>
            <button class="hero-btn hero-btnn red-btn" @onclick=@(async () => await AddItemToCart(new Item{
                    Name = "Taxă de urgentare",
                    Price = 99,
                    Quantity = 1,
                    PictureURL = "image/taxa1.jpeg"
                    }))>
                >Adaugă în coș.
            </button>
        </div>
        <hr width="1" size="160" style="0 auto" />
        <div class="border-col">
            <div class="cutie">
                <img src="image/deparolare.png" onmouseover="hover11(this);" onmouseout="unhover11(this);">
            </div>
            <h4>Deparolare Windows</h4>
            <h3>99 RON</h3>
            <button class="hero-btn hero-btnn red-btn" @onclick=@(async () => await AddItemToCart(new Item{
                    Name = "Deparolare Windows",
                    Price = 99,
                    Quantity = 1,
                    PictureURL = "image/deparolare.png"
                    }))>
                >Adaugă în coș.
            </button>
        </div>
        <hr width="1" size="160" style="0 auto" />
        <div class="border-col">
            <div class="cutie">
                <img src="image/BIOS.png" onmouseover="hover12(this);" onmouseout="unhover12(this);">
            </div>
            <h4>Serviciu update BIOS</h4>
            <h3>79 RON</h3>
            <button class="hero-btn hero-btnn red-btn" @onclick=@(async () => await AddItemToCart(new Item{
                    Name = "Serviciu update BIOS",
                    Price = 79,
                    Quantity = 1,
                    PictureURL = "image/BIOS.png"
                    }))>
                >Adaugă în coș.
            </button>
        </div>
        <hr width="1" size="160" style="0 auto" />
        <div class="border-col">
            <div class="cutie">
                <img src="image/IT.png" onmouseover="hover13(this);" onmouseout="unhover13(this);">
            </div>
            <h4>Consultanță IT</h4>
            <h3>130 RON</h3>
            <button class="hero-btn hero-btnn red-btn" @onclick=@(async () => await AddItemToCart(new Item{
                    Name = "Consultanță IT",
                    Price = 130,
                    Quantity = 1,
                    PictureURL = "image/IT.png"
                    }))>
                >Adaugă în coș.
            </button>
        </div>
    </div>
    <div class="da"></div>
</section>
<script src="app.js"></script>

@code {
    public Calculatoare.Shared.Order.Cart _Cart { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Initialize();
    }

    private async Task Initialize()
    {
        _Cart = await LocalStorage.GetItemAsync<Calculatoare.Shared.Order.Cart>("cart");
        StateHasChanged();
    }

    private async Task AddItemToCart(Item item)
    {
        if (_Cart is null)
            _Cart = new();

        var cartItem = await _Cart.Items.FirstOrDefaultAsync(x=>x.)
        if (_Cart)
        _Cart.Items.Add(item);

        await LocalStorage.SetItemAsync("cart", _Cart);

        StateHasChanged();
    }
}